apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq-deployment
  namespace: q10-task-manager
  labels:
    app: rabbitmq
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
        - name: rabbitmq
          image: rabbitmq:3-management
          ports:
            - name: amqp
              containerPort: 5672
              protocol: TCP
            - name: management
              containerPort: 15672
              protocol: TCP
          envFrom:
            - configMapRef:
                name: rabbitmq-config
          resources:
            requests: 
              memory: "256Mi"
              cpu: "250m" 
            limits:
              memory: "512Mi"
              cpu: "500m"

