apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgresql-deployment
  namespace: q10-task-manager
  labels:
    app: postgresql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgresql
  template:
    metadata:
      labels:
        app: postgresql
    spec:
      containers:
        - name: postgresql
          image: postgres:14.19
          ports:
            - name: postgres
              containerPort: 5432
              protocol: TCP
          envFrom:
            - configMapRef:
                name: postgresql-config
          volumeMounts:
            - name: postgresql-storage
              mountPath: /var/lib/postgresql/data
              subPath: postgres
          resources:
            requests: 
              memory: "256Mi"
              cpu: "250m" 
            limits:
              memory: "512Mi"
              cpu: "500m"
      volumes:
        - name: postgresql-storage
          persistentVolumeClaim:
            claimName: postgresql-pvc





