apiVersion: v1
kind: Service
metadata:
  name: postgresql-service
  namespace: q10-task-manager
spec:
  selector:
    app: postgresql
  ports:
    - name: postgres
      protocol: TCP
      port: 5432
      targetPort: 5432
  type: ClusterIP

